 
<div class="resume-section-content">
    <form  method="post">
        <h2 class="mb-5">Mesaj Gönder</h2>
        <label><strong>Ad Soyad</strong></label>
        <input type="text" name="AdSoyad" class="form-control" />
        <br />

        <label><strong>Mail</strong></label>
        <input type="text" name="Mail" class="form-control" />
        <br />

        <label><strong>Konu</strong></label>
        <input type="text" name="Konu" class="form-control" />
        <br />

        <label><strong>Mesaj</strong></label>
        <input type="text" name="Mesaj" class="form-control" />
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>
